.FormDiv {
    width: 50vw;
    padding: 0 25vw;
}

.FormContent {
    text-align:left;
    padding: 10px;
    /* margin: 10px; */
    background-color: aquamarine;
    background-color: white;
}

.FormBlock {
    /* padding: 10px; */
    margin: 10px 0;
    background-color: white;
}

.PadLeft {
    padding-left: 10px;
}
.MargRight {
    margin-right: 10px;
}